[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal-svg-fragment"]
	path = reveal-svg-fragment
	url = https://gist.github.com/fe1d2806449487cdf88a.git
